#sprints, #feedback {
  background-image: url('../images/drupalcon-vienna-bg.png');
  background-size: cover;
  background-position: top center;
  color: #4c697d;
  text-align: center;
}
#sprints .grid-wrapper,
#feedback .grid-wrapper {
  padding-top: 20vmin;
}
#sprints h2 {
  color: #cd9b23;
  font-weight: lighter;
}
#sprints .grid-wrapper {
  grid-template-areas: title rooms hashtag;
  grid-template-rows: auto auto 1fr;
}

#sprints .sprint-types {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#sprints .sprint-types  div {
  width: 25%;
}
#sprints .sprint-types span {
  display: block;
}
#sprints .sprint-types .sprint-title {
  font-size: 1.8em;
}
#sprints .sprint-title {
  color: #cd9b23;
}

#sprints .hashtag {
  align-self: end;
  color: #cd9b23;
  font-size: 3em;
}

#feedback .content {
  font-size: 2em;
}
#feedback .content p {
  margin-bottom: 2em;
}
#feedback [href^=httpsevents.drupal.org] {
  font-size: 0.75em;
}

@media (orientation: portrait) {
  .only-landscape {
    display: none;
  }
}

.reveal section[id^="nashville"] {
  color: #08547a;
  background: url("../images/nashville-bg.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}
.reveal section[id^="nashville"] .grid-wrapper {
  padding: 27vh 10vmin 3vh;
  grid-template-rows: auto 1fr auto;
}
section[id^="nashville"] h1 {
  margin: 0;
}
section[id^="nashville"] h1,
section[id^="nashville"] a {
  color: #e22b4b;
}
section[id^="nashville"] a {
 font-size: 1.25em;
}
section[id^="nashville"] h2 {
  font-weight: lighter;
}
#nashville-feedback h2 {
  margin-bottom: 0.5em;
  margin-top: 2em;
}
section[id^="nashville"] [src*="nashville-thankyou"] {
  display: block;
  margin: auto;
}
@media (orientation: landscape) {
  section[id^="nashville"] [src*="nashville-thankyou"] {
    max-width: 40%;
  }
}
#nashville-sprints h2:last-child {
  margin-bottom: 0;
}
.sprint-times {
  align-self:center;
}
@media (orientation: landscape) {
  div.sprint-times {
    display: grid;
    grid-column-gap: 10vmin;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5vmin;
  }
  div.sprint-times > div {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }
}
@media (orientation: portrait) {
  .sprint-times > div {
    margin-bottom: 5vmin;
  }
}
